*{
	margin: 0;
	padding: 0;
}
body{
	background: #fff;
	color: #111;
	color: rgba(20,20,20,0.9);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
}
a{
	color: #444;
}
a:hover,
a:active,
a:focus{
	color: #888;
}
h1, h2{
	margin: 20px;
}
.image-list{
	margin: 20px;
}
.image-item{
	border-top: 1px solid #aaa;
	padding: 20px 0;
	overflow: hidden;
}
.image-item-display img{
	display: block;
	float: left;
	width: 500px;
}
.image-item-info{
	float: left;
	margin-left: 20px;
}
.image-user-info img{
	width: 48px;
}
